<!DOCTYPE html>
<html lang="ru">
<head>
    {% load static %}

    <meta charset="utf-8"/>
    <title>My site</title>
    <link href="{% static 'bootstrap/css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
    <link title="main"
          href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.0/css/bootstrap-toggle.min.css" rel="stylesheet">
        <!--   <link title="main" rel="stylesheet"
      href="http://maxcdn.bootstrapcdn.com/bootswatch/3.2.0/united/bootstrap.min.css"> -->
    <link
            href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css"
            rel="stylesheet">

    <style>
        body {
            padding-top: 60px;
        }
    </style>

    <script src="{% static 'js/jquery-2.1.1.js' %}"></script>
    {% block head %}
    {% endblock head %}

</head>
<body>
{% block navbar %}
    <!-- Static navbar -->
    <div class="container">
        <div class="navbar navbar-default">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/photo_page/">myProject</a>
            </div>
{#            <div class="navbar-collapse collapse">#}
{#                <ul class="nav navbar-nav">#}
{#                    <li><a href="#">Link</a></li>#}
{#                    <li><a href="#">Link</a></li>#}
{#                    <li><a href="#">Link</a></li>#}
{#                    <li class="dropdown">#}
{#                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <span class="caret"></span></a>#}
{#                        <ul class="dropdown-menu" role="menu">#}
{#                            <li><a href="#">Action</a></li>#}
{#                            <li><a href="#">Another action</a></li>#}
{#                            <li><a href="#">Something else here</a></li>#}
{#                            <li class="divider"></li>#}
{#                            <li class="dropdown-header">Nav header</li>#}
{#                            <li><a href="#">Separated link</a></li>#}
{#                            <li><a href="#">One more separated link</a></li>#}
{#                        </ul>#}
{#                    </li>#}
{#                </ul>#}
{#                <ul class="nav navbar-nav navbar-right">#}
{#                    <li class="active"><a href="./">Default</a></li>#}
{#                    <li><a href="../navbar-static-top/">Static top</a></li>#}
{#                    <li><a href="../navbar-fixed-top/">Fixed top</a></li>#}
{#                </ul>#}
{#            </div>#}
            <!--/.nav-collapse -->
        </div>
        <!--/.container-fluid -->
    </div>
{% endblock navbar %}

{% block content %}

{% endblock content %}

{% block js %}

{% endblock js %}

<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.0/js/bootstrap-toggle.min.js"></script>
{#<script type="text/javascript" src="{% static 'js/csrf.js' %}"></script>#}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/main_scripts.js' %}"></script>
</body>
</html>
