table {
    margin: 0 auto 20px;
    table-layout: fixed;
}
.table th {
    text-align: center;
}

h3 {
    text-align: center;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
table {
    border-spacing: 5px;
    padding: 10px;
}
.label-1 > td {
    padding: 5px;
}
#scrollingDiv {
    background-color: #eeeeee;
    border-radius: 6px;
    color: inherit;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    margin-bottom: 30px;
    padding: 10px;
    width: 258px;
}

