{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row-fluid">
        <div class="col-xs-6 col-sm-3">
            <div id="scrollingDiv">
                        <p align="center" ><span class="btn btn-default btn-file" >
                            Upload picture<input  type='file' id="fileLoad" accept='image/jpg'
                                                  onchange='openFile(event)' >
                        </span></p>
{#                                            <p align="center" ><span class="btn btn-default btn-file" >#}
{#                            Download picture<input  type='file' id="fileSave" accept='image/jpg'#}
{#                                                  onchange='DownloadImage()' data-size="1" >#}
{#                        </span></p>#}
                    <p align="center">
                        <a class="btn" href="#showPictures">Download</a>
                    </p>

                        <table>
                            <tr class="label-1">
                                <td>
                                    <label for="threshold">medianblur</label>
                                </td>
                                <td>
                                    <input id="threshold"  data-toggle="toggle" type="checkbox"
                                            onchange="sendFilterValue()">
                                </td>
                                <td>
                                    <input id="threshold_attribut" class="btn btn-default"
                                           type="text" style="width:49px;margin-left: 1px" pattern="[0-9]"
                                    maxlength="3" value="5" disabled>

                                </td>
                            </tr>
                            <tr class="label-1">
                                <td>
                                    <label for="medianblur">threshold</label>
                                </td>
                                <td>
                                    <input id="medianblur"  data-toggle="toggle"
                                           type="checkbox" onchange="hello_world()">
                                </td>
                                <td>
                                    <input id="medianblur_attribut" class="btn btn-default"
                                           type="text" style="width:49px;margin-left: 1px" pattern="[0-9]"
                                    maxlength="3" >
                                </td>
                            </tr>
                        </table>
            </div>
        </div>


        <div class="col-xs-12 col-sm-9">
            <div class="jumbotron">
                <img class='showPicture' style="width: 100%;height: 100%;" align="center">

                <img id='res_pic' style="width: 100%;height: 100%;margin-top: 10px" align="center">
            </div>
        </div>
    </div>
</div>

{% block js %}

    <script>

    </script>

{% endblock js %}
{% endblock content %}
